@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600");
* {
  transition: all 0.5s ease;
  font-family: Roboto; }

.sorteio {
  color: #fff;
  border-radius: 50%;
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block; }

#quina .sorteio {
  background-color: #239; }

#lotofacil .sorteio {
  background-color: #A58; }

#lotomania .sorteio {
  background-color: #F78100; }

#dupla-sena .sorteio {
  background-color: #BF194E; }

#timemania .sorteio {
  background-color: #FFF600;
  color: #000; }
